{
  "openapi": "3.0.3",
  "info": {
    "title": "NessGate API",
    "version": "1.13.0",
    "description": "The open, neutral compatibility resolver for the agentic web. Given a domain, NessGate reads whatever that domain already publishes across the standard machine-discovery locations (llms.txt, ARD / ai-catalog.json, A2A agent card, RFC 9727 API catalog, ai-info.json, OpenAPI, Open Resource Discovery, AWP manifest, RFC 6415 host-meta) and returns one normalized answer, each record carrying a sourceUrl back to the domain. NessGate stores nothing, never crawls or indexes, and makes no ownership or safety claim. Read endpoints are public, unauthenticated, and CORS-open. The response contract is stable and additive: new optional fields may appear; clients must ignore unknown fields.",
    "contact": { "email": "contact@nessgate.com", "url": "https://nessgate.com/contact" },
    "termsOfService": "https://nessgate.com/terms",
    "license": { "name": "Apache-2.0", "url": "https://www.apache.org/licenses/LICENSE-2.0" }
  },
  "servers": [{ "url": "https://nessgate.com" }],
  "paths": {
    "/discover/{domain}": {
      "get": {
        "operationId": "discoverDomain",
        "summary": "Resolve a domain to the machine-readable resources it publishes",
        "description": "Reads what the domain itself publishes at the standard machine-discovery locations (llms.txt, ARD/ai-catalog, A2A agent card, RFC 9727 api-catalog, ai-info.json, openapi.json (and .yaml/.yml, detected via the document's own top-level marker), Open Resource Discovery, AWP manifest awp.json, RFC 6415 host-meta) and returns one normalized answer. Provenance is always \"self-published\": each record carries a sourceUrl back to the domain so the caller can verify. \"Found\" means the location exists and its content parses (JSON, or non-HTML text); it does not assert protocol conformance. Nothing is stored or indexed; results are computed live and cached for 10 minutes. When the exact host publishes nothing and its homepage redirects within the same registrable domain (apex to www./subdomain), the canonical host is probed for llms.txt and ard.json as a bounded fallback; cross-registrable-domain redirects are never followed here.",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "Domain name, e.g. example.com. Scheme, path, port, and a leading www. are ignored; ASCII/punycode form required.",
            "schema": { "type": "string", "example": "example.com" }
          },
          {
            "name": "fast",
            "in": "query",
            "required": false,
            "description": "Set to 1 for fast mode: SKIPS the alternate ARD locators (homepage rel=\"ard\" link and robots Agentmap) to save 2 requests. This is a labeled performance trade and is NOT fully ARD v0.91-conformant (a catalog advertised only via rel=\"ard\" can be missed) — the response is flagged mode:\"fast\" and 'checked' omits ard-link/ard-agentmap. Default (omit ?fast) is complete and conformant.",
            "schema": { "type": "string", "enum": ["1"], "example": "1" }
          },
          {
            "name": "mcp",
            "in": "query",
            "required": false,
            "description": "Set to 1 to introspect DECLARED MCP endpoints read-only via the protocol's own handshake (initialize + tools/list only — never tools/call, no credentials, POSTs never follow redirects). HTTPS endpoints on the queried registrable domain only, max 3 per resolution, 256 KB response cap. Declared tools land verbatim in the resource's capabilities; the response is labeled introspected:[\"mcp\"]. Default (omit ?mcp) never introspects.",
            "schema": { "type": "string", "enum": ["1"], "example": "1" }
          },
          {
            "name": "verify",
            "in": "query",
            "required": false,
            "description": "Set to 1 for a labeled reachability pass: surfaces this resolution already fetched are marked reachability ok with NO extra request (the fetch is the evidence); MCP records reuse introspection results when present; declared pointers get ONE safe probe each (HEAD, then a bounded GET when HEAD is unsupported — never a POST, never an execution), capped at 8, mapped to ok | auth-required | not-found | unreachable with a per-record checkedAt. Absent reachability = not checked. ok means the endpoint answered a safe request — never that operations succeed or the caller is authorized. Cross-registrable targets are probed only because the publisher itself declared them. Default (omit ?verify) never probes.",
            "schema": { "type": "string", "enum": ["1"], "example": "1" }
          }
        ],
        "responses": {
          "200": {
            "description": "Observation complete. An empty discovered array is still a successful answer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": { "type": "string", "example": "example.com" },
                    "provenance": { "type": "string", "enum": ["self-published"], "example": "self-published" },
                    "note": { "type": "string" },
                    "outcome": { "type": "string", "enum": ["found", "none-found", "blocked"], "description": "The single honest outcome label. found = validated resources exist. none-found = the checks completed and confirmed no supported declaration at the locations checked (clean 404s count as answers). blocked = nothing found AND refusals (auth/rate/5xx, timeouts, network failures) were at least as common as clean answers - the checks were prevented, so absence is UNKNOWN." },
                    "blockedProbes": { "type": "integer", "description": "Present when any probe was refused: the count of refused probes, disclosed even when the outcome is none-found so uncertainty is never hidden." },
                    "mode": { "type": "string", "enum": ["fast"], "description": "Present only when ?fast=1 was used: signals the alternate ARD locators were skipped (not fully ARD-conformant). Absent for the default complete mode." },
                    "introspected": { "type": "array", "items": { "type": "string", "enum": ["mcp"] }, "description": "Present only when ?mcp=1 was used: read-only MCP introspection ran on declared endpoints. Absent by default." },
                    "verified": { "type": "array", "items": { "type": "string", "enum": ["reachability"] }, "description": "Present only when ?verify=1 was used: the labeled reachability pass ran. Absent by default." },
                    "discovered": {
                      "type": "array",
                      "description": "The routing map: which standards the domain publishes, and where.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string", "example": "llms.txt" },
                          "url": { "type": "string", "example": "https://example.com/llms.txt" }
                        }
                      }
                    },
                    "resources": {
                      "type": "array",
                      "description": "The normalized union of what those documents contain, flattened into one list.",
                      "items": { "$ref": "#/components/schemas/Resource" }
                    },
                    "checked": {
                      "type": "array",
                      "description": "Every standard NessGate probed for, so an empty result is still informative.",
                      "items": { "type": "string" },
                      "example": ["llms.txt", "ard-catalog", "a2a-agent-card", "api-catalog", "ai-info.json", "openapi", "ord", "awp", "host-meta", "anp", "ucp", "ard-link", "ard-agentmap", "aid"]
                    }
                  },
                  "required": ["domain", "provenance", "discovered", "resources", "checked"]
                }
              }
            }
          },
          "400": { "description": "Input is not a valid domain.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "description": "Rate limited (120 requests/hour per IP).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/explore/{domain}": {
      "get": {
        "operationId": "exploreDomain",
        "summary": "Evidence-based delegated resolution across declared pointers and registries",
        "description": "Everything /discover returns, plus bounded DELEGATED discovery: follows the explicit machine-readable pointers a domain declares (llms.txt index links, ARD/api-catalog entries) to arbitrary chain depth within the request/byte/host/time budgets (loop-detected, per-hop validated, runaway backstop) — cross-host only where the publisher named the target — and federates the official MCP Registry for the domain's verified reverse-DNS namespace. Every resource carries an 'evidence' class (publisher-hosted | publisher-declared | namespace-verified) and a 'provenance' chain. Strictly bounded (depth <=2, <=8 hosts, <=24 requests, global byte cap, SSRF checks per hop); stateless, no crawling, no AI, no ownership claim. With ?org=1 (Organization Discovery), additionally probes a bounded set of plausible same-registrable-domain hosts (homepage-linked subdomains plus a small conventional shortlist) and reports only verified resources as evidence same-domain-host. Rate limited 60/hour/IP; cached 10 minutes.",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "description": "Domain name, e.g. example.com.",
            "schema": { "type": "string", "example": "example.com" }
          },
          {
            "name": "org",
            "in": "query",
            "required": false,
            "description": "Set to 1 to enable Organization Discovery: probe a bounded set of plausible same-registrable-domain hosts (homepage-linked subdomains with developer/doc-facing labels first, then a conventional shortlist incl. docs./developers./cloud., max 6 hosts x 3 paths) and report only verified resources, labelled evidence same-domain-host. Hosts probed are listed in orgChecked; hosts that refused or blackholed every probe are listed in orgBlocked (absence there is unknown; a clean 404 counts as answered). A homepage redirect to a different registrable domain is reported as homepageRedirect {from,to} - an observation of the publisher's own configuration, never merged into resources.",
            "schema": { "type": "string", "enum": ["1"] }
          },
          {
            "name": "related",
            "in": "query",
            "required": false,
            "description": "Set to 1 for Related Discovery: a separate cross-registrable-domain layer returned in related[] (never mixed with resources[]). Classes: publisher-declared-related (the queried domain serves a purpose-built declaration such as a legacy Related Website Set file; hyperlinks never qualify), registry-verified-related (a domain-verifying registry names the specific host, attributed), infrastructure-correlated-candidate (caller candidates with a cited technical signal). Technical signals are corroborating only and never mean official or same organization. Bounded, max 5 related hosts.",
            "schema": { "type": "string", "enum": ["1"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Evidence-based observation. An empty resources array is still a successful answer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "domain": { "type": "string", "example": "example.com" },
                    "note": { "type": "string" },
                    "outcome": { "type": "string", "enum": ["found", "none-found", "blocked", "incomplete"], "description": "The single honest outcome label; /explore adds incomplete = budgets or the deadline cut the walk before it finished, so an empty result may just be unfinished." },
                    "blockedProbes": { "type": "integer", "description": "Present when any probe was refused: count of refused probes (uncertainty is never hidden)." },
                    "checked": { "type": "array", "items": { "type": "string" } },
                    "federated": { "type": "array", "items": { "type": "string" }, "example": ["mcp-registry"] },
                    "related": { "type": "array", "description": "Only with ?related=1: cross-registrable-domain entries, each { host, class: publisher-declared-related | registry-verified-related | infrastructure-correlated-candidate, declaration?, attribution?, signals[], resources[] }. Separate from resources[]; signals are corroborating only.", "items": { "type": "object" } },
                    "relatedNote": { "type": "string" },
                    "resources": {
                      "type": "array",
                      "description": "Normalized records, each with an evidence class, a provenance chain, and depth.",
                      "items": {
                        "allOf": [
                          { "$ref": "#/components/schemas/Resource" },
                          {
                            "type": "object",
                            "properties": {
                              "evidence": { "type": "string", "enum": ["publisher-hosted", "publisher-declared", "namespace-verified", "candidate", "same-domain-host", "publisher-redirect-candidate"], "description": "candidate = a caller-suggested URL (via POST {\"candidates\":[...]}) that NessGate fetched and confirmed is machine-readable; relationship to the domain is unverified." },
                              "provenance": { "type": "array", "items": { "type": "string" }, "description": "The chain of URLs/registry hops by which this record was reached." },
                              "depth": { "type": "integer", "example": 0 },
                              "attribution": { "type": "string", "description": "For namespace-verified records: who verified the namespace (attributed to the registry, not NessGate)." }
                            }
                          }
                        ]
                      }
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "publisherHosted": { "type": "integer" },
                        "publisherDeclared": { "type": "integer" },
                        "namespaceVerified": { "type": "integer" },
                        "requests": { "type": "integer" },
                        "hosts": { "type": "integer" },
                        "bytes": { "type": "integer" },
                        "truncated": { "type": "boolean" }
                      }
                    },
                    "limits": { "type": "object" }
                  },
                  "required": ["domain", "resources", "checked", "federated", "stats"]
                }
              }
            }
          },
          "400": { "description": "Input is not a valid domain.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "description": "Rate limited (60 requests/hour per IP).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/mcp": {
      "post": {
        "operationId": "mcp",
        "summary": "Model Context Protocol server (Streamable HTTP)",
        "description": "JSON-RPC 2.0 over the MCP Streamable HTTP transport. Stateless, no authentication. Exposes one read-only tool, discover_domain, which returns the same normalized answer as GET /discover/{domain}.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "type": "object", "description": "A single JSON-RPC 2.0 message (initialize, tools/list, tools/call, ping)." },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "tools/call",
                "params": { "name": "discover_domain", "arguments": { "domain": "example.com" } }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "A single JSON-RPC response." },
          "202": { "description": "Acknowledged notification (no body)." },
          "400": { "description": "Malformed or invalid JSON-RPC message." },
          "405": { "description": "GET is not supported; use POST." }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Resource": {
        "type": "object",
        "description": "A normalized record. NessGate reuses each source's own labels and adds source/sourceUrl.",
        "properties": {
          "source": { "type": "string", "description": "Which standard this record came from.", "example": "ard-catalog" },
          "sourceUrl": { "type": "string", "description": "The native document the record was read from — authoritative; follow it to verify.", "example": "https://example.com/.well-known/ard.json" },
          "type": { "type": "string", "description": "An open label taken from the source. Not a closed set.", "example": "application/json" },
          "url": { "type": "string", "example": "https://example.com/ai-info.json" },
          "class": {
            "type": "string",
            "description": "How much NessGate verified this resource (no extra requests): verified-publisher-location = the surface NessGate fetched and validated on the domain's own registrable domain; publisher-declared = declared inside a fetched catalog, target on the same registrable domain, target not itself fetched; declared-external-pointer = declared but the target is on a different registrable domain (unverified); unsupported = no usable target URL. A 'third-party association' is an /explore concept; /discover never fetches declared pointers, so it emits no 'inaccessible' class.",
            "enum": ["verified-publisher-location", "publisher-declared", "declared-external-pointer", "unsupported"],
            "example": "verified-publisher-location"
          },
          "name": { "type": "string" },
          "id": { "type": "string" },
          "rel": { "type": "string" },
          "capabilities": {
            "type": "array",
            "description": "Verbatim publisher-declared capabilities from the source document itself — OpenAPI operations (method, path, operationId, summary) or A2A/GB-Z agent-card skills (id, name, description, tags). Copied 1:1 from the publisher's own words; never inferred, renamed, or reclassified. Absent when the source declares none. Capped at 40 (capabilitiesTruncated flags the cap).",
            "items": { "type": "object" }
          },
          "capabilitiesTruncated": { "type": "boolean", "description": "True when the publisher declared more capabilities than the cap; the list is a labeled prefix, never a silent truncation." },
          "introspection": {
            "type": "object",
            "description": "Only with ?mcp=1, on declared MCP endpoint resources: the result of the read-only MCP handshake (initialize + tools/list only — no tool execution, no credentials). ok:true carries the negotiated protocolVersion and the server's own serverInfo; ok:false carries status: auth-required | legacy-transport | error. Declared tools land verbatim in capabilities."
          },
          "security": {
            "type": "array",
            "description": "Verbatim declared security schemes (OpenAPI components.securitySchemes / Swagger-2 securityDefinitions): { name, type, scheme, in }. Capped at 40; securityTruncated flags the cap.",
            "items": { "type": "object" }
          },
          "securityTruncated": { "type": "boolean", "description": "True when the spec declares more security schemes than the cap; the list is a labeled prefix, never a silent truncation." },
          "reachability": { "type": "string", "enum": ["ok", "auth-required", "rate-limited", "blocked", "not-found", "unreachable", "unknown"], "description": "Only with ?verify=1. ok = answered a safe request (never asserts operations succeed or authorization); auth-required = 401/407 or a WWW-Authenticate header (protocol evidence, never assumed); rate-limited = 429 (alive; Retry-After captured as evidence, never acted on); blocked = anti-bot protection RELIABLY identified via a conservative signal list (challenge headers/markers) — NessGate identifies walls, never bypasses them; not-found = 404/410 (declared, nothing there); unreachable = network failures/timeouts/5xx; unknown = a denial whose cause cannot be established (e.g. a bare 403 — auth and bot-walls both use it, and NessGate never assumes either). Absent = not checked." },
          "checkedAt": { "type": "string", "description": "Only with ?verify=1: when this record's reachability was determined (ISO timestamp)." },
          "evidence": { "type": "object", "description": "Only with ?verify=1: why the reachability label was chosen — { status?, signal?, retryAfterSeconds? }. signal is a NAME only (e.g. cf-challenge, www-authenticate, fetched-this-resolution, mcp-introspection); response content is never stored or returned." },
          "raw": { "type": "object" }
        },
        "required": ["source", "sourceUrl", "type", "url", "class"]
      },
      "Error": {
        "type": "object",
        "properties": { "error": { "type": "string" } },
        "required": ["error"]
      }
    }
  }
}
